html, body {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: 'Courier New', Courier, monospace;

    color: #fff;
    background: #111;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding-top: 20px;
    width: 600px;
    height: 100vh;
}

p {
    word-wrap: break-word;
}

.bar {
    display: inline-block;
}