html, body {
    font-family: 'Courier New', Courier, monospace;

    color: #fff;
    background: #111;
}

main {
    margin: 0 auto;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding-top: 20px;
    width: 600px;
    height: 100vh;
}

p {
    word-wrap: break-word;
}

a {
    font-size: 1.3em;
    color: #0f0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.back {
    position: fixed;
    top: 10px;
    left: 10px;
}

.profile {
    border-radius: 9999px;
    margin-bottom: 16px;
}

.bar {
    display: inline-block;
}